<%- include('header'); -%>
  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16"> 
    <!-- General Report -->
    <div class="grid grid-cols-3 gap-6 xl:grid-cols-1">

        
        
        <!-- card -->
        <% for(var i=0; i<data.length; i++) {%>
        <div class="report-card">
            <div class="card">
                <div class="card-body flex flex-col">
        
                   
                    <div class="flex flex-row justify-between items-center">
                        <bold>
                            <p><%= data[i]['websitename'] %> : <%= data[i]['url'] %></p>
                        </bold>
                        <span class="rounded-full text-white badge bg-teal-400 text-xs">
                            <%= data[i]['total'] %>
                            <i class="fal fa-chevron-up ml-1"></i>
                        </span>
                    </div>
                   
                    <div class="mt-8">
        
                        <button class="btn  btn-bs-danger" type="button" value="true" data-argname="badgeError"
                            style="float: left;margin-left: 20px;">
                            <span class="badge"><%= data[i]['errors'] %></span>
                            <p style="color: white;"> Error</p>
                        </button>
                        <button class="btn  bg-teal-400" type="button" value="true" data-argname="badgeWarning"
                            style="float: left;margin-left: 20px;">
                            <span class="badge"><%= data[i]['warnings'] %></span>
                            <p style="color: white;">Warning</p>
                        </button>
                        <button class="btn btn-bs-info" type="button" value="true" data-argname="badgeNotice"
                            style="float: left;margin-left: 20px;">
                            <span class="badge"><%= data[i]['notices'] %></span>
                            <p style="color: white;">Notice</p>
                        </button>
                    </div>
                  
        
                </div>
            </div>
            <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
        </div>
        
        <% } %>
        
    </div>
    <!-- End General Report -->


    <!-- strat Analytics -->
    <div class="mt-6 grid grid-cols-2 gap-6 xl:grid-cols-1">

    <!-- update section -->
    <div class="card bg-teal-400 border-teal-400 shadow-md text-white">
        <div class="card-body flex flex-row">
            
            <!-- image -->
            <div class="img-wrapper w-40 h-40 flex justify-center items-center">
                <img src="/img/happy.svg" alt="img title">
            </div>
            <!-- end image -->

            <!-- info -->
            <div class="py-2 ml-10">
                <h1 class="h6">Good Job, Mohamed!</h1>
                <p class="text-white text-xs">You've finished all of your tasks for this week.</p>

                <ul class="mt-4">
                    <li class="text-sm font-light"><i class="fad fa-check-double mr-2 mb-2"></i> Finish Dashboard Design</li>
                    <li class="text-sm font-light"><i class="fad fa-check-double mr-2 mb-2"></i> Fix Issue #74</li>
                    <li class="text-sm font-light"><i class="fad fa-check-double mr-2"></i> Publish version 1.0.6</li>
                </ul>
            </div>
            <!-- end info -->

        </div>
    </div>
    <!-- end update section -->

    <!-- carts -->
    <div class="flex flex-col">
        <!-- charts -->
        <div class="grid grid-cols-2 gap-6 h-full">

            <div class="card">
                <div class="py-3 px-4 flex flex-row justify-between">
                    <h1 class="h6">
                        <span class="num-4"></span>k
                        <p>Total Urls</p>
                    </h1>

                    <div class="bg-teal-200 text-teal-700 border-teal-300 border w-10 h-10 rounded-full flex justify-center items-center">
                        <i class="fad fa-eye"></i>
                    </div>
                </div>                
                <div class="analytics_1"></div>
            </div>

            <div class="card">
                <div class="py-3 px-4 flex flex-row justify-between">                    
                    <h1 class="h6">
                        <span class="num-2"></span>k
                        <p>Unique Users</p>
                    </h1>

                    <div class="bg-indigo-200 text-indigo-700 border-indigo-300 border w-10 h-10 rounded-full flex justify-center items-center">
                        <i class="fad fa-users-crown"></i>
                    </div>
                </div>
                <div class="analytics_1"></div>
            </div>

        </div>     
        <!-- charts    -->

    </div>
    <!-- end charts -->


</div>
    <!-- end Analytics -->

   

          

  </div>
  <!-- end content -->

</div>
<!-- end wrapper -->

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/scripts.js"></script>
<!-- end script -->

</body>
</html>
