<%- include('header'); -%>



<div class="card">

	<div class="card-body">
		<h2 class="font-bold text-lg mb-10">Scan Results</h2>

		<!-- start a table -->
		<table class="table-fixed w-full">

			<!-- table head -->
			<thead class="text-left">
				<tr>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide">Scan ID</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Website Name</th>
					<th class="w-1/2 pb-10 text-sm font-extrabold tracking-wide text-center">URL</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Scan Date & Time</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Scan Level</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Result</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">#Rules Failed</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">#Errors</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">#Warnings</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">#Notices</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Processing Frequency</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Processing Status</th>
					<th class="w-1/4 pb-10 text-sm font-extrabold tracking-wide text-right">Action</th>
				</tr>
			</thead>
			<!-- end table head -->

			<!-- table body -->
			<tbody class="text-left text-gray-600">

				<% for(var i=0; i<data.length; i++) {%>
					
						

				
				<tr>
					<th class="w-1/2 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">						
						<p class="ml-3 name-1"><%= data[i]['scan_id'] %></p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right"><p class="ml-3 name-1">
						<%= data[i]['websitename'] %>
					</p></th>
					
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right"><p class="ml-3 name-1">
						<%= data[i]['url'] %>
					</p>
					</th>
					
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right"><p class="ml-3 name-1">
						<%= new Date(data[i]['date']).getDate()%>/<%= new Date(data[i]['date']).getMonth()+1%>/<%= new Date(data[i]['date']).getFullYear()%> <%= new Date(data[i]['date']).getHours()%>:<%= new Date(data[i]['date']).getMinutes()%>:<%= new Date(data[i]['date']).getSeconds()%>
					</p>
					</th>

					
				
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right"><p class="ml-3 name-1">
						<%= data[i]['scan_level'] %>
					</p></th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['result'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['rules_failed'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['errors'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['warnings'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['notices'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['frequency'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<p class="ml-3 name-1">
							<%= data[i]['status'] %>
						</p>
					</th>
					<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
						<a class="mr-2 transition duration-500 ease-in-out hover:text-gray-900" href="./resultdetails?scan_id=<%= data[i]['scan_id'] %>" title="email"><i
								class="fad fa-eye"></i></a>
					</th>
				
				</tr>					
					<% } %>




			</tbody>
			<!-- end table body -->

		</table>
		<!-- end a table -->
	</div>

</div>